<div class="mt-4">
    <h2>Sửa sự kiện</h2>
    <form method="POST" action="/post/<%= post._id %>?_method=PUT" class=" mt-4">
      <div class="form-group ">
        <label for="image">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= post.name %>">
      </div>
      <div class="form-group ">
        <label for="name">Image</label>
        <input type="text" class="form-control" id="image" name="image" value="<%= post.image %>">
      </div>
      <div class="form-group ">
        <label for="description">description</label>
        
        <textarea class="form-control" id="description" name="description"><%= post.description %></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>