<section>
  <%- include('./partials/topmenu.ejs')  %>
</section>
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content d-md-flex justify-content-between align-items-center">
        <div class="mb-3 mb-md-0">
          <h2>Login</h2>
        </div>
        <div class="page_link">
          <a href="/">Home</a>
          <a href="#">Login</a>
        </div>
      </div>
    </div>
  </div>
</section>
<form class="col-md-6 col-lg-4 mx-auto my-5" method="POST" action="/user/login">
  <% if (message.length !==0) {%>
    <div class="alert alert-danger">
      <%= message %>
    </div>
    <%} %>
      <!-- user name input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">User name</label>
        <input type="text" id="form2Example1" class="form-control" name="username" required />
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" id="form2Example2" class="form-control" name="password" required />
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">


        <div class="col">
          <a href="#" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Forgot password?
          </a>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4 ">Sign in</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a href="/user/register">Register</a></p>
      </div>
</form>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Tôi cũng không nhớ mk của bạn!!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Relex and try remember your password!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">hehe</button>
      </div>
    </div>
  </div>
</div>
<footer>
  <%- include('./partials/footer.ejs') %>
</footer>