<section>
  <%- include('./partials/banner.ejs') %>
</section>
<form class="col-md-6 col-lg-4 mx-auto my-5" method="POST" action="/user/login">
  <% if (message.length !==0) {%>
    <div class="alert alert-danger">
      <%= message %>
    </div>
    <%} %>
      <!-- user name input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">User name</label>
        <input type="text" id="form2Example1" class="form-control" name="username" required />
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" id="form2Example2" class="form-control" name="password" required />
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">


        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4 ">Sign in</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a href="/user/register">Register</a></p>
      </div>
</form>
<footer>
  <%- include('./partials/footer.ejs') %>
</footer>