<div class="top_menu">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="float-left">
            <p>Phone: +01 234 56 789</p>
            <p>email: tuwns@gmail.com</p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="float-right">
            <ul class="right_side">
              <li>
                <a href="/">
                  Home
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>