<header class="header_area">
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/">
            <img src="img/logo.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/">Ql Doanh thu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Kho hàng</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">Đơn hàng</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/customer">QL Người Dùng</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                  <li class="nav-item nav-item-icon dropdown">
                    <a class=" dropdown-toggle icons" href="#" id="navbarDarkDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="ti-user" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
  
                      <% if (isLogin) {%>
                        <li><a class="dropdown-item" href="#">
                            <%= user.Username %>
                          </a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <form method="POST" action="/user/logout">
                          <li><button class="dropdown-item" type="submit">Logout</button></li>
                        </form>
  
  
                        <% } else { %>
                          <li><a class="dropdown-item" href="/user/login">Login</a></li>
  
                          <li><a class="dropdown-item" href="/user/register">Register</a></li>
                          <% } %>
                    </ul>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>

<div class="container">
    <div class="card mb-3">
        <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal" style="color: #000;">
                Quản lí doanh thu
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xl-4 py-5 ">
                <div class="row align-items-center">
                    <div class="col-5 text-right ">
                        <span class="p-3 m-auto rounded-circle"
                            style="font-size: 1.7rem; background-color: #f7b924!important;"><i
                                class="fa-solid fa-cart-shopping"></i></span>
                    </div>
                    <div class="col-7">
                        <div class="col mb-2">Tổng đơn hàng</div>
                        <div class="col" style="font-weight: 700; font-size: 1.8rem; color: #3ac47d!important;"><%= orders.length  %>
                        </div>
                    </div>
                </div>
                <div class="divider m-0 d-md-none d-sm-block"></div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4 py-5 ">
                <div class="row align-items-center">
                    <div class="col-3 text-right ">
                        <span class="p-3 m-auto rounded-circle"
                            style="font-size: 1.7rem; background-color: #d92550!important; color: #fff;"><i
                                class="fa-solid fa-chart-line"></i></span>
                    </div>
                    <div class="col-9">

                        <div class="col mb-2">Tổng doanh thu</div>
                        <div class="col" style="font-weight: 700; font-size: 1.8rem; color: #3ac47d!important;"><%= total.toFixed(6) %><i class="fa-solid fa-dong-sign"></i>
                        </div>
                    </div>
                </div>
                <div class="divider m-0 d-md-none d-sm-block"></div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4 py-5 ">
                <div class="row align-items-center">
                    <div class="col text-right">
                        <span class="p-3 m-auto rounded-circle"
                            style="font-size: 1.7rem; background-color: #3ac47d!important; color: #fff;"><i class="fa-solid fa-users"></i></span>
                    </div>
                    <div class="col">

                        <div class="col mb-2">Khách hàng</div>
                        <div class="col" style="font-weight: 700; font-size: 1.8rem; color: #3ac47d!important;"><%= allUsers.length %>
                        </div>
                    </div>
                </div>
                <div class="divider m-0 d-md-none d-sm-block"></div>
            </div>

        </div>
        
    </div>
</div>